<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character set and responsive design -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets and scripts -->
    <link rel="stylesheet" href="{{ pathRoot }}public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ pathRoot }}public/assets/css/style.css">
    <link rel="icon" href="{{ pathRoot }}favicon.ico" type="image/x-icon">
    <script type="module" src="{{ pathRoot }}public/assets/js/bootstrap.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/qrious@4.0.2/dist/qrious.min.js" defer></script>
    <script type="module" src="{{ pathRoot }}public/assets/js/default.js" defer></script>

    <!-- Page title -->
    <title>Worga</title>
</head>
<body class="">
    
    <!-- Header section -->
    <header>
        {% block header %}
        <!-- Navigation bar with Bootstrap styles -->
        <nav class="navbar navbar-expand-lg navbar-bg-color border-bottom border-body">
            <div class="container-fluid">
                <!-- Logo and brand name -->
                <a class="navbar-brand" href="{{ pathRoot }}">
                    <img src="{{ pathRoot }}public/assets/images/worga-without-bg.png" class="navbar-img" alt="">
                </a>

                <!-- Navbar toggle button for small screens -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links and dropdown menu -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {% if session.userId is defined %}
                        <!-- Conditional rendering based on user session -->
                        <li class="nav-item me-4">
                            <a class="nav-link text-white" href="{{ pathRoot }}card"><strong>Vos Cartes</strong></a>
                        </li>
                        {% if session.userRightId == 1 %}
                            <li class="nav-item me-4">
                                <a class="nav-link text-white" href="{{ pathRoot }}user">Panneau d'administration</a>
                            </li>
                        {% endif %}                        
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="{{ pathRoot }}security/logout">Se déconnecter</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="{{ pathRoot }}security">Se connecter</a>
                        </li>
                    {% endif %}
                     
                </ul>
                </div>
            </div>
        </nav>
        {% endblock %}
    </header>

    <!-- Main content section -->
    <main class="container-fluid">
        {% if message is defined %}
            <!-- Display alert message if defined -->
            <div class="row">
                <div class="col-12 alert alert-{{ message.type }} alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <div class="alert-message">
                        {{ message.message }}
                    </div>
                </div>
            </div>    
        {% endif %}

        {% block main %}
            <!-- Main content block to be extended by child templates -->
        {% endblock %}
    </main>

    <!-- Footer section -->
    {% block footer %}
        <!-- Footer content to be extended by child templates if needed -->
    {% endblock %}

</body>

</html>