<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character set and responsive design -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets and scripts -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ pathRoot }}public/assets/css/style.css">
    <script type="importmap">
    {
      "imports": {
        "jquery": "https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js",
        "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js",
        "bootstrap-table": "https://unpkg.com/bootstrap-table@1.22.3/dist/bootstrap-table.min.js",
        "bootstrap-table-fr-FR": "https://cdn.jsdelivr.net/npm/bootstrap-table@1.18.3/dist/locale/bootstrap-table-fr-FR.min.js"
      }
    }
    </script>
    <script type="module" src="{{ pathRoot }}public/assets/js/custom.js" defer></script>

    <!-- Page title -->
    <title>Worga</title>
</head>
<body class="">
    
    <!-- Header section -->
    <header>
        {% block header %}
        <!-- Navigation bar with Bootstrap styles -->
        <nav class="navbar navbar-expand-lg navbar-bg-color border-bottom border-body">
            <div class="container-fluid">
                <!-- Logo and brand name -->
                <a class="navbar-brand" href="{{ pathRoot }}">
                    <img src="{{ pathRoot }}public/assets/images/worga-without-bg.png" class="navbar-img" alt="">
                </a>

                <!-- Navbar toggle button for small screens -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links and dropdown menu -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- Conditional rendering based on user session -->
                    {% if session.userId is defined %}
                        <li class="nav-item me-4">
                            <a class="nav-link text-dark fw-bold" href="{{ pathRoot }}client">Clients</a>
                        </li>
                        {% if session.userRole == 'admin' %}
                            <li class="nav-item me-4">
                                <a class="nav-link  text-dark" href="{{ pathRoot }}user">Panneau d'administration</a>
                            </li>
                        {% endif %}                        
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="{{ pathRoot }}security/logout">Se déconnecter</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="{{ pathRoot }}security">Se connecter</a>
                        </li>
                    {% endif %}
                     
                </ul>
                </div>
            </div>
        </nav>
        {% endblock %}
    </header>

    <!-- Main content section -->
    <main class="container-fluid">
        {% if message is defined %}
            <!-- Display alert message if defined -->
            <div class="row">
                <div class="col-12 alert alert-{{ message.type }} alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <div class="alert-message">
                        {{ message.message }}
                    </div>
                </div>
            </div>    
        {% endif %}

        {% block main %}
            <!-- Main content block to be extended by child templates -->
        {% endblock %}
    </main>

    <!-- Footer section -->
    {% block footer %}
        <!-- Footer content to be extended by child templates if needed -->
    {% endblock %}

</body>

</html>