{% extends "Base.twig" %}

{% block main %}
    <!-- Main Content Container -->
    <div class="container">
        <!-- Title Section -->
        <div class="row  mt-5">
            <!-- Back Button Section -->
            {% if listClients is not defined %}
                <div class="col-12">
                    <a href="{{ pathRoot}}client" class="text-dark text-decoration-none" role="button" style="font-size: 1.5rem;"><i class="bi bi-arrow-left"></i></a>
                </div>
            {% endif %}
            <div class="col-12 mb-3">
                <h2 class="text-center"><i class="bi bi-people-fill"></i> Clients</h2>
            </div>
        </div>

        <!-- Check if listUsers is defined -->
        {% if listClients is defined %}
            <!-- Users Table Section -->
            <div class="row">
                <div class="col-12 mt-3">
                    <a href="{{ pathRoot  ~ 'client/addClient' }}" class="btn btn-success" role="button">Ajouter un client</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table
                            class="table"
                            id="clients-table"
                            data-toggle="table"
                            data-height="400"
                            data-url="{{ pathRoot  ~ 'client/listClients' }}"
                            data-ajax="ajaxRequest"
                            data-search="true"
                            data-searchable="true"
                            data-side-pagination="server"
                            data-sortable="true"
                            data-pagination="true"
                            data-page-size="10">
                        <thead>
                        <tr>
                            <th data-field="id" 
                                data-searchable="false"
                                data-sortable="true"
                            >#</th>
                            <th data-field="lastName" 
                                data-searchable="true"
                                data-sortable="true"
                            >Nom</th>
                            <th data-field="firstName"
                                data-searchable="true"
                                data-sortable="true"
                            >Prénom</th>
                            <th data-field="address"
                                data-searchable="false"
                                data-sortable="true"
                            >Adresse</th>
                            <th data-field="phone"
                                data-searchable="false"
                                data-sortable="true"
                            >Téléphone</th>
                            <th data-field="email"
                                data-searchable="false"
                                data-sortable="true"
                            >Email</th>
                            <th data-field="account" 
                                data-searchable="false" 
                                data-formatter="accountFormatter"
                            >Compte client</th>
                            <th data-field="actions"
                                data-searchable="false"
                                data-formatter="actionsFormatter"
                            >Actions</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <script>

                function ajaxRequest(params) 
                {
                    const url = $('#clients-table').data('url')

                    $.get(url + '/?' + $.param(params.data))
                        .then(function (res) {
                            params.success( JSON.parse(res) )
                        })
                        .fail(function (xhr, status, error) {
                            params.error(xhr.responseText)
                        })
                }

                function accountFormatter(value, row) 
                {
                    return '<a href="{{ pathRoot  ~ 'account/clientId/' }}' + row.id + '" class="btn btn-sm btn-secondary rounded-circle" role="button"><i class="bi bi-person-lines-fill"></i></a>'
                }

                function actionsFormatter(value, row)
                {
                    return '<a href="{{ pathRoot  ~ 'client/updateClient/clientId/' }}' + row.id + '" class="btn btn-sm btn-primary rounded-circle m-1" role="button"><i class="bi bi-pencil-square"></i></a>' + '<a href="javascript:void(0)" class="btn btn-sm btn-danger rounded-circle m-1" role="button" onclick="confirmDeletion(' + row.id + ')" ><i class="bi bi-trash"></i></a>'
                }

                function confirmDeletion(clientId) {
                    var message = "Etes-vous sûr de vouloir supprimer ce client ?\n" + 
                                "Cette action est irreversible.\n" +
                                "Par ailleurs, si un compte est lié à ce client, il ne pourra pas être supprimé " +
                                "(contactez un administrateur si besoin).";
                    var confirmed = confirm(message);
                    if (confirmed) {
                        window.location.href = "{{ pathRoot ~ 'client/deleteClient/clientId/' }}" + clientId;
                    }
                    return false;
                }
            </script>

        {% else %}

            {% include "ClientForm.twig" with {'selectedClient': selectedClient ? selectedClient : null} %}
        
        {% endif %} 

    </div>
{% endblock %}