{% extends "Base.twig" %}

{% block main %}
    <!-- Main Content Container -->
    <div class="container">
        <!-- Title Section -->
        <div class="row mt-3">
            {% if listUsers is not defined %}
                <!-- Back Button Section -->
                <div class="col-12">
                    <a href="{{ pathRoot}}user" class="text-dark text-decoration-none" role="button" style="font-size: 1.5rem;"><i class="bi bi-arrow-left"></i></a>
                </div>
            <div class="col-12 mb-3">
            {% else %}      
            <div class="col-12 mt-3 mb-3">
            {% endif %}  
                <h2 class="text-center">Panneau d'administration</h2>
            </div>
        </div>

        <!-- Check if listUsers is defined -->
        {% if listUsers is defined %}
            <!-- Users Table Section -->
            <div class="row">
                <div class="col-12">
                    <h4>Liste des utilisateurs</h4>
                </div>
                <div class="col-12 mt-3">
                    <a href="{{ pathRoot  ~ 'user/createUser' }}" class="btn btn-sm btn-success" role="button">Ajouter un utilisateur</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table
                            class="table"
                            id="users-table"
                            data-toggle="table"
                            data-height="400"
                            data-url="{{ pathRoot  ~ 'user/listUsers' }}"
                            data-ajax="ajaxRequest"
                            data-search="true"
                            data-searchable="true"
                            data-side-pagination="server"
                            data-sortable="true"
                            data-pagination="true"
                            data-page-size="10">
                        <thead>
                        <tr>
                            <th data-field="id" 
                                data-searchable="false"
                                data-sortable="true"
                            >ID</th>
                            <th data-field="login" 
                                data-searchable="true"
                                data-sortable="true"
                            >Login</th>
                            <th data-field="role"
                                data-searchable="false"
                                data-sortable="true"
                            >Rôle</th>
                            <th data-field="createdAt"
                                data-searchable="false"
                                data-sortable="true"
                            >Date de création</th>
                            <th data-field="updatedAt"
                                data-searchable="false"
                                data-sortable="true"
                            >Dernière modification</th>
                            <th data-field="isActive" data-searchable="false" data-formatter="activeFormatter">Activer</th>
                            <th data-field="profil" 
                                data-searchable="false" 
                                data-formatter="profilFormatter"
                            ></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

            <script>

                function ajaxRequest(params) 
                {
                    const url = $('#users-table').data('url')

                    $.get(url + '/?' + $.param(params.data))
                        .then(function (res) {
                            params.success( JSON.parse(res) )
                        })
                        .fail(function (xhr, status, error) {
                            params.error(xhr.responseText)
                        })
                }

                function profilFormatter(value, row) 
                {
                    return '<a class="btn btn-sm btn-primary" href="{{ pathRoot ~ 'user/updateUser/id/' }}' + row.id + '">Modifier</a>'
                }


                function activeFormatter(value, row)
                {
                    const isChecked = value == 1 ? 'checked' : '';
                    const isActive = value == false ? 0 : 1;
                    const url = '{{ pathRoot ~ "user/setIsActive/id/" }}' + row.id + '/isActive/';
                    return [
                        '<div class="form-check form-switch">',
                        '<input class="form-check-input active-line" data-url="' + url + '" type="checkbox" role="switch" data-isactive="' + isActive + '"' + isChecked + '>',
                        '</div>'
                    ].join('');
                }
            </script>

        {% else %}

            {% include "UserForm.twig" with {'selectedUser': selectedUser ? selectedUser : null} %}
        
        {% endif %}
        

    </div>
{% endblock %}